html, body, .login {
    height: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    min-width: 300px;
}

.login__left-col {
    min-height: 100%;
    background-color: #153f65;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__right-col {
    min-height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__description {
    padding: 25px;
    font-size: 19px;
}

.login-form {
    color: #fff;
    padding: 25px;
    border: 3px solid #fff;
    border-radius: 5px;
}

.logo {
    display: block;
    padding: 20px 0;
    margin: auto;
    width: 140px;
    color: #fff;
    font-size: 32px;
}

.logo__image {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 2px;
    vertical-align: sub;
}

.login__btn {
    justify-content: center;
    display: flex;
}

.slides {
    min-height: 100%;
    background-color: #153f65;
    display: flex;
    justify-content: center;
    align-items: center;
}



.slider {
    width: auto;
    margin: 30px 50px 50px;
}

.slick-slide {
    color: white;
    padding: 40px 0;
    font-size: 30px;
    font-family: "Arial", "Helvetica";
    text-align: center;
}
.slick-slide img {
    width: 100%;
}

.scroll-down {
    top: 10px;
    left: 10px;
    position: absolute;
    width: 120px;
    text-align: center;
    color: #153f65;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

.scroll-down .fa {
    font-size: 30px;
}
