.panel_toolbox>li>a {
            color: #fff;
}
.label-md {
    font-size: 100%;
}
.resource {
    line-height: 2;
    font-size: 16px;
}
.resource.x_content {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.collapse-resource {
    display: none;
}

.logo {
    display: block;
    padding: 5px 0;
    margin: auto;
    width: 140px;
    color: #fff;
    font-size: 32px;
}

.logo__image {
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 2px;
    vertical-align: sub;
}